{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="w-75">
        {% for video in videos %}
            {% if video.unavailable %}
                <div class="alert alert-danger">Video unavailable: <a href="{{ video.link }}">{{ video.link }}</a>
                </div>
            {% elif video.failed %}
                <div class="alert alert-danger">Failed to download: {{ video.title }}</div>
            {% else %}
                <div class="alert alert-success">{{ video.title }}</div>
            {% endif %}
        {% endfor %}
        <a class="btn btn-success" href="{% static file %}" download>Download</a>
        <a class="btn btn-secondary" href="/">Home</a>
    </div>
{% endblock content %}

