{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
{% endblock styles %}

{% block content %}
    <div class="d-block p-2 w-75">
        <h1>Youtube converter</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}

        {% endif %}


        <form class="d-flex" id="input" method="POST">
            {% csrf_token %}
            <button name="video" class="btn btn-secondary" id="btnleft" onclick=sendLink('left')>Video</button>
            <div id="spinner1">
                <div class="spinner-border text-light" id="spinnerleft"></div>
            </div>
            <input type="text" placeholder="Link" name="link" class="form-control bg-dark text-light" id="link">
            <div id="spinner2">
                <div class="spinner-border text-light" id="spinnerright"></div>
            </div>
            <button name="playlist" class="btn btn-secondary pl-1"  id="btnright" onclick=sendLink('right')>Playlist</button>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    {% csrf_token %}
    <script src="{% static 'home/home.js' %}"></script>
{% endblock scripts %}