{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
     <link rel="stylesheet" type="text/css" href="{% static 'home/videos.css' %}">
{% endblock styles %}

{% block content %}
    <div class="w-75">
        <form method="POST" action="{% url 'home-download' %} ">
            {% csrf_token %}
            {% for form in forms %}
                {% if form.metadata.unavailable %}
                    <div class="alert alert-danger m-2">Video unavailable: <a href="{{ form.metadata.link }}">{{ form.metadata.link }}</a>
                    </div>
                {% else %}
                    <div class="border border-white rounded p-2 m-2">
                        {{ form.form.title|as_crispy_field }}
                        <div class="d-flex w-100 justify-content-end">
                            <a class="btn btn-outline-info text-info" data-toggle="collapse"
                                data-target="#collapse{{ forloop.counter }}">Edit info</a>
                        </div>
                        <div class="collapse" id="collapse{{ forloop.counter }}">
                            {{ form.form.song|as_crispy_field }}
                            {{ form.form.artist|as_crispy_field }}
                            {{ form.form.album|as_crispy_field }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <input type="hidden" id="identifier" name="identifier" value="{{ identifier }}">
            <div class="m-2 pb-4 d-flex w-100 justify-content-start">
                <div id="spinner">
                    <div class="spinner-border text-light"></div>
                </div>
                <input type="submit" id="btnsubmit" class="btn btn-success mr-2" value="Save" onclick=sendLink()>
                <a id="btnback" class="btn btn-secondary" href="/">Back</a>

            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    {% csrf_token %}
    <script src="{% static 'home/videos.js' %}"></script>
{% endblock scripts %}